body {
    background-image: url("1641764717065.jpeg");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.help {
 max-width: 2000px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
 
#increment-btn {
    background: hsl(0, 100%, 27%);
}

#save-btn {
    background: darkgreen;
}

